torch
torchvision
timm
pydicom
opencv-python
scikit-image
pandas
numpy
scikit-learn
albumentations
matplotlib
seaborn
imagededup
statsmodels
torchcam
EOF
torchaudio
pylibjpeg 
pylibjpeg-libjpeg 
pylibjpeg-openjpeg
